{% extends "users/base.html" %}
{% block content %}
    <div>
    	<form method="POST" >
    		{% csrf_token %}
    		<fieldset class="form-group">Delete Degree/Certificate </legend>
    		<h2>Are you sure you want to remove : {{ object.certificate_degree_name }}</h2>
    		</fieldset>
    		<div class="form-group">
    			<button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
    			<a class="btn btn-outline-secondary" href="{% url 'user-degrees' user.username %}"> No, Cancel</a>
    		</div>
    	</form>
    </div>
{% endblock content%}






