{% extends "dashboard/base.html" %}}
{% block content %}
  {%if applicants%}
    <h1 class="mb-3">Job-Applicants  </h1>
    {% for applicant in applicants %}
          <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ applicant.user_account.profile.image.url }}" >
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" >{{ applicant.user_account.first_name }} {{ applicant.user_account.last_name }}</a>
                <small class="text-muted">{{ applicant.apply_date | date:"F d, Y"}}</small>
                <a href="">{{applicant.user_account.email}} </a>
              </div>
              <div>
              <h3><a class="article-title" href="{% url 'user-experience' applicant.user_account.username%}">Job Experience</a></h3>
              <h3><a href="{% url 'user-degrees' applicant.user_account.username%}"
                class="article-title">Degrees/Certificates</a></h3>
              </div>
            </div>
          </article>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
  {%else%}
    <h1 class="mb-3">- No Applicants  </h1>
  {%endif%}
{% endblock content %}